# Evolução dos casos em escala Global

In [1]:
#Importando bibliotecas
import numpy as np
import pandas as pd
import chart_studio.plotly as py
import plotly.express as px
import plotly.graph_objs as go
from chart_studio.plotly import plot, iplot
from plotly.subplots import make_subplots

In [2]:
#Lendo os dados
#Os dados podem ser obtidos em https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset
df = pd.read_csv('dataCorona/covid_19_data.csv')
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [3]:
#Renomeando as colunas
df = df.rename(columns={'Country/Region':'Country'})
df = df.rename(columns={'ObservationDate':'Date'})

In [4]:
#Manipulando o Dataframe
df_countries = df.groupby(['Country', 'Date']).sum().reset_index().sort_values(by='Date', ascending=False)
df_countries = df_countries.drop_duplicates(subset = ['Country'])
df_countries = df_countries[df_countries['Confirmed']>0]
df_countries.head()

                  Country        Date    SNo  Confirmed  Deaths  Recovered
415            Azerbaijan  04/05/2020  11940      584.0     7.0       32.0
1218  Congo (Brazzaville)  04/05/2020  11966       45.0     5.0        2.0
4707                Qatar  04/05/2020  12063     1604.0     4.0      123.0
430               Bahamas  04/05/2020  11941       28.0     4.0        0.0
4137          New Zealand  04/05/2020  12048     1039.0     1.0      156.0

In [5]:
#Criando o gráfico Choropleth
data = go.Choropleth(
    locations = df_countries['Country'],
    locationmode = 'country names',
    z = df_countries['Confirmed'],
    colorscale = 'Reds',
    marker_line_color = 'black',
    marker_line_width = 0.5
)

fig = go.Figure(data = data)

fig.update_layout(
    title_text = 'Casos Confirmados em 05/04/2020',
    title_x = 0.5,
    geo=dict(
        showframe = False,
        showcoastlines = False,
        projection_type = 'equirectangular'
    )
)

py.iplot(fig)

# Visualizando os casos com decorrer do tempo

In [6]:
#Manipulando os dados para selecionar todas as datas
df_countrydate = df[df['Confirmed']>0]
df_countrydate = df_countrydate.groupby(['Date','Country']).sum().reset_index()
df_countrydate

            Date             Country    SNo  Confirmed  Deaths  Recovered
0     01/22/2020               Japan     36        2.0     0.0        0.0
1     01/22/2020               Macau     21        1.0     0.0        0.0
2     01/22/2020      Mainland China    373      547.0    17.0       28.0
3     01/22/2020         South Korea     38        1.0     0.0        0.0
4     01/22/2020              Taiwan     29        1.0     0.0        0.0
...          ...                 ...    ...        ...     ...        ...
6377  04/05/2020             Vietnam  12105      241.0     0.0       90.0
6378  04/05/2020  West Bank and Gaza  12106      237.0     1.0       25.0
6379  04/05/2020      Western Sahara  12107        4.0     0.0        0.0
6380  04/05/2020              Zambia  12108       39.0     1.0        3.0
6381  04/05/2020            Zimbabwe  12109        9.0     1.0        0.0

[6382 rows x 6 columns]

In [7]:
#Criando a visualização animada
fig = px.choropleth(df_countrydate,
                   locations = 'Country',
                   locationmode = 'country names',
                   color = 'Confirmed',
                   hover_name = 'Country',
                   animation_frame = 'Date'
                   )
fig.update_layout(
    title_text = 'Propagação Grobal do Covid-19',
    title_x = 0.5,
    geo=dict(
        showframe = False,
        showcoastlines = False
    )
)

py.iplot(fig)

# Analisando a propagação nos estados Brasileiros

In [8]:
#Lendo os dados
#Os dados podem ser obtidos em https://covid.saude.gov.br/
df = pd.read_csv('dataCorona/dados_covid_br.csv', sep = ';')
df

,regiao,estado,data,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
0,Norte,RO,30/01/2020,0,0,0,0
1,Norte,RO,31/01/2020,0,0,0,0
2,Norte,RO,01/02/2020,0,0,0,0
3,Norte,RO,02/02/2020,0,0,0,0
4,Norte,RO,03/02/2020,0,0,0,0
...,...,...,...,...,...,...,...
1723,Centro-Oeste,DF,29/03/2020,29,289,1,1
1724,Centro-Oeste,DF,30/03/2020,23,312,0,1
1725,Centro-Oeste,DF,31/03/2020,20,332,2,3
1726,Centro-Oeste,DF,01/04/2020,23,355,0,3
1727,Centro-Oeste,DF,02/04/2020,15,370,1,4

In [9]:
#Manipulando os dados
df_Brasil = df
df_Brasil = df_Brasil.groupby(['data','estado']).sum().reset_index()
df_Brasil['data'] = pd.to_datetime(df_Brasil['data'], format='%d/%m/%Y')
df_Brasil.sort_values(by='data', inplace = True)
df_Brasil = df_Brasil[df_Brasil['data']>'2020-02-24']
df_Brasil['data'] = df_Brasil['data'].astype('str')
df_Brasil

,data,estado,casosNovos,casosAcumulados,obitosNovos,obitosAcumulados
1373,2020-02-25,SC,0,0,0,0
1374,2020-02-25,SE,0,0,0,0
1350,2020-02-25,AC,0,0,0,0
1351,2020-02-25,AL,0,0,0,0
1352,2020-02-25,AM,0,0,0,0
...,...,...,...,...,...,...
138,2020-04-02,AP,0,11,0,0
137,2020-04-02,AM,29,229,0,3
135,2020-04-02,AC,0,43,0,0
149,2020-04-02,PB,1,21,0,1
136,2020-04-02,AL,0,18,0,1

In [11]:
#Criando os gráficos com visualização global e animada
#Criando a visualização animada
fig = px.line(df_Brasil,
              x = 'data',
              y = 'casosAcumulados',
              color = 'estado',
              )
fig.update_layout(
    title_text = 'Propagação do Covid-19 nos estados brasileiros',
    title_x = 0.5,
)

py.iplot(fig)